{% extends "authentication/base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block style %}
<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }

  .card {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
    max-width: 300px;
    max-height: 17em;
  }

  .card-header {
    
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-body {
    padding: 20px;
    max-height: 17em;
    overflow: hidden;
  }

  .card-footer {
    border-top: none;
  }
  .box{
    background-image: url("./static/dashboard/bg_color.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top:100px;
    min-height:60vh; 
  }
  
</style>
{% endblock %}
{% block content %}
{% include 'dashboard/navbar.html' %}

<div class="box">

  <div class="container">
    
      {% for message in messages %}
    <div class="container-fluid p-0">
      <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
      
        {{ message }}
      </div>
    </div>
    {% endfor %}
      <center>
      <h1 class="text-black my-2 ">Welcome to the Dashboard!</h1>
      <h3 class="text-black">{{user.username}}</h3>
    </center>

  </div>

  <div class="container">
  <div class="flex-container">
    {% for document in documents  %}
    <div class="card">
      <div class="card-header bg-info d-flex justify-content-between align-items-center">
        <a href="/document/{{document.id}}" style="color: white;">
          <h5 class="card-title">{{document.name}}</h5>
        </a>
        <form method="POST" action="{% url 'delete_document' %}">
          {% csrf_token %}
          <input type="hidden" name="docId" value="{{document.id}}">
          <button type="submit" class="btn text-danger">X</button>
        </form>
      </div>
          <div class="card-body">
            <p class="card-text">{{document.text}}</p>
          </div>
          <div class="card-footer d-flex justify-content-between rounded-bottom bg-white">
            <small>Created by {{document.created_by}}</small>
            <small>{{document.created_at}}</small>
          </div>
        </div>
        
        
  
        {% endfor %}
    </div>
  </div>
  
</div>
{% include 'dashboard/footer.html' %}
{% endblock content %}
